In [28]:
import pandas as pd

In [29]:
datos = pd.read_csv('exam.csv')

In [30]:
datos.shape

(1258, 7)

In [31]:
datos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1258 entries, 0 to 1257
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   date       1258 non-null   object
 1   open       1258 non-null   object
 2   high       1258 non-null   object
 3   low        1258 non-null   object
 4   close      1258 non-null   object
 5   adj_close  1258 non-null   object
 6   volume     1258 non-null   int64
dtypes: int64(1), object(6)
memory usage: 68.9+ KB

In [32]:
datos.head(20)

,date,open,high,low,close,adj_close,volume
0,2012-01-03,1.258.859.985,1.284.619.995,1.258.859.985,1.277.060.059,1.277.060.059,3943710000
1,2012-01-04,1.277.030.029,1.278.729.980,1.268.099.976,1.277.300.049,1.277.300.049,3592580000
2,2012-01-05,1.277.300.049,1.283.050.049,1.265.260.010,1.281.060.059,1.281.060.059,4315950000
3,2012-01-06,1.280.930.054,1.281.839.966,1.273.339.966,1.277.810.059,1.277.810.059,3656830000
4,2012-01-09,1.277.829.956,1.281.989.990,1.274.550.049,1.280.699.951,1.280.699.951,3371600000
5,2012-01-10,1.280.770.020,1.296.459.961,1.280.770.020,1.292.079.956,1.292.079.956,4221960000
6,2012-01-11,1.292.020.020,1.293.800.049,1.285.410.034,1.292.479.980,1.292.479.980,3968120000
7,2012-01-12,1.292.479.980,1.296.819.946,1.285.770.020,1.295.500.000,1.295.500.000,4019890000
8,2012-01-13,1.294.819.946,1.294.819.946,1.277.579.956,1.289.089.966,1.289.089.966,3692370000
9,2012-01-17,1.290.219.971,1.303.000.000,1.290.219.971,1.293.670.044,1.293.670.044,4010490000
10,2012-01-18,1.293.650.024,1.308.109.985,1.290.989.990,1.308.040.039,1.308.040.039,4096160000
11,2012-01-19,1.308.069.946,1.315.489.990,1.308.069.946,1.314.500.000,1.314.500.000,4465890000
12,2012-01-20,1.314.489.990,1.315.380.005,1.309.170.044,1.315.380.005,1.315.380.005,3912620000
13,2012-01-23,1.315.290.039,1.322.280.029,1.309.890.015,1.316.000.000,1.316.000.000,3770910000
14,2012-01-24,1.315.959.961,1.315.959.961,1.306.060.059,1.314.650.024,1.314.650.024,3693560000
15,2012-01-25,1.314.400.024,1.328.300.049,1.307.650.024,1.326.060.059,1.326.060.059,4410910000
16,2012-01-26,1.326.280.029,1.333.469.971,1.313.599.976,1.318.430.054,1.318.430.054,4522070000
17,2012-01-27,1.318.250.000,1.320.060.059,1.311.719.971,1.316.329.956,1.316.329.956,4007380000
18,2012-01-30,1.316.160.034,1.316.160.034,1.300.489.990,1.313.010.010,1.313.010.010,3659010000
19,2012-01-31,1.313.530.029,1.321.410.034,1.306.689.941,1.312.410.034,1.312.410.034,4235550000

In [33]:
datos.describe()

             volume
count  1.258000e+03
mean   3.581177e+09
std    6.794439e+08
min    1.248960e+09
25%    3.173118e+09
50%    3.514050e+09
75%    3.914480e+09
max    7.597450e+09

In [34]:
datos['open'].min()

'1.258.859.985'

In [35]:
datos['high'].min()

'1.278.729.980'

In [36]:
datos['low'].min()

'1.258.859.985'

In [37]:
datos['close'].min()

'1.277.060.059'

In [38]:
datos['open'].max()

'2.270.540.039'

In [39]:
datos['high'].max()

'2.277.530.029'

In [40]:
datos['low'].max()

'2.266.149.902'

In [41]:
datos['close'].max()

'2.271.719.971'